.owl-carousel .owl-item img{
    width: 100%;
}

.brand_image_bottom{
    border: 1px solid #000;
    border-style: dashed;
    border-radius: 15px;
}

header .navbar li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 25px 0px;
    letter-spacing: 0px;
}
.nav-right {
    float: right;
    padding: 25px 0;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .logo {
    float: left;
    position: relative;
    padding: 0px 0; 
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
header .logo img {
    z-index: 3;
    position: relative;
    height: 70px;
}

footer {
    background: #000000;
    padding: 100px 0;
}
.rights {
    background: #121213;
    padding: 15px 0;
}

.tparrows.preview3:hover:after {
    color: #fff;
    background: #000;
}

.tparrows.preview3:hover:after {
    color: #fff;
    background: #000;
}

.tparrows.preview3:after{
    color: #fff;
    background: #000;
}

.pricing article ul {
    padding-top: 19px;
    margin-bottom: 0px;
}
.pricing article .price-head {
    margin-bottom: 0px; 
    padding-left: 50px;
}

@media (max-width: 767px){
    .navbar-toggle {
    position: absolute;
    top: 7px;
    right: 15px;
    height: 50px;
    width: 50px;
    padding: 0px;
    margin: 0px;
    color: #fff;
    text-align: center;
     background: #000; 
     border: none; 
}
.navbar-toggle.collapsed span {
    background: #ffffff;
}
    
    .navbar-toggle {
        position: absolute;
        top: 7px;
        right: 15px;
        height: 50px;
        width: 50px;
        padding: 0px;
        margin: 0px;
        color: #f9f7f7;
        text-align: center;
        /* background: #fff; */
        border: 1px solid #252839;
    }
    .navbar-toggle span:after {
        height: 2px;
        width: 20px;
        float: left;
        background: #ffffff;
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0px;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -ms-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        transform: translateY(0px) translateX(0) rotate(45deg);
    }
    .navbar-toggle span:before {
        height: 2px;
        width: 20px;
        background: #ffffff;
        float: left;
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -ms-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        transform: translateY(0px) translateX(0) rotate(-45deg);
    }
    header .nav-right {
        display: none;
    position: absolute;
    right: 65px;
    border: none;
    top: -32px;
    padding-left: 0px;
    padding-right: 20px;
}

}