.owl-carousel .owl-item img{
    width: 100%;
}

.brand_image_bottom{
    border: 1px solid #000;
    border-style: dashed;
    border-radius: 15px;
}

header .navbar li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 25px 0px;
    letter-spacing: 0px;
}
.nav-right {
    float: right;
    padding: 25px 0;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .logo {
    float: left;
    position: relative;
     padding: 0px 0; 
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
header .logo img {
    z-index: 3;
    position: relative;
    height: 70px;
}

footer {
    background: #000000;
    padding: 100px 0;
}
.rights {
    background: #121213;
    padding: 15px 0;
}

.tparrows.preview3:hover:after {
    color: #fff;
    background: #000;
}

.tparrows.preview3:hover:after {
    color: #fff;
    background: #000;
}

.tparrows.preview3:after{
    color: #fff;
    background: #000;
}

.pricing article ul {
    padding-top: 19px;
    margin-bottom: 0px;
}
.pricing article .price-head {
     margin-bottom: 0px; 
    padding-left: 50px;
}