.owl-carousel .owl-item img{
    width: 100%;
}

.brand_image_bottom{
    border: 1px solid #000;
    border-style: dashed;
    border-radius: 15px;
}

header .navbar li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    padding: 25px 0px;
    letter-spacing: 0px;
}
.nav-right {
    float: right;
    padding: 25px 0;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .logo {
    float: left;
    position: relative;
    padding: 0px 0; 
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
header .logo img {
    z-index: 3;
    position: relative;
    height: 70px;
}

footer {
    background: #000000;
    padding: 100px 0;
}
.rights {
    background: #121213;
    padding: 15px 0;
}

.tparrows.preview3:hover:after {
    color: #fff;
    background: #000;
}

.tparrows.preview3:hover:after {
    color: #fff;
    background: #000;
}

.tparrows.preview3:after{
    color: #fff;
    background: #000;
}

.pricing article ul {
    padding-top: 19px;
    margin-bottom: 0px;
}
.pricing article .price-head {
    margin-bottom: 0px; 
    padding-left: 50px;
}

.showonmobile{
    display: none;
}

@media (max-width: 767px){
    .hideonmobile{
        display: none;
    }
    .showonmobile{
        display: block;
    }



    .navbar-toggle {
        position: absolute;
        top: 7px;
        right: 15px;
        height: 50px;
        width: 50px;
        padding: 0px;
        margin: 0px;
        color: #fff;
        text-align: center;
        background: #000; 
        border: none; 
    }
    .navbar-toggle.collapsed span {
        background: #ffffff;
    }

    .navbar-toggle {
        position: absolute;
        top: 7px;
        right: 15px;
        height: 50px;
        width: 50px;
        padding: 0px;
        margin: 0px;
        color: #f9f7f7;
        text-align: center;
        /* background: #fff; */
        border: 1px solid #252839;
    }
    .navbar-toggle span:after {
        height: 2px;
        width: 20px;
        float: left;
        background: #ffffff;
        position: absolute;
        content: "";
        bottom: 0px;
        left: 0px;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -ms-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        transform: translateY(0px) translateX(0) rotate(45deg);
    }
    .navbar-toggle span:before {
        height: 2px;
        width: 20px;
        background: #ffffff;
        float: left;
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -ms-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        transform: translateY(0px) translateX(0) rotate(-45deg);
    }
    header .nav-right {
        display: none;
        position: absolute;
        right: 65px;
        border: none;
        top: -32px;
        padding-left: 0px;
        padding-right: 20px;
    }

}

.shopping-cart .cart-details li.quantity_li{
    padding: 10px 32px;
}

.custome_summary_popup tr{
    border-bottom: 1px solid;
}

.custome_summary_popup td{
    text-align: left;
    width: 50%;
    padding: 5px;

}

.custome_summary_popup th{
    text-align: right;
    text-align: right;
    padding-right: 12px;
    width: 50%;
    padding: 5px;
}

.custome_summary_popup table {
    width: 100%;
    font-size: 13px;
}

.swal2-container.swal2-fade {

    z-index: 999999;
}

.cart_button {
    width: 60px;
    padding: 0px 10px;
    height: 20px;
    background: #D1913C;
}

.shopping-cart .cart-details h5 {
    font-size: 16px;
    text-transform: uppercase;
}

.shopping-cart h5 {
    letter-spacing: 2px;
    color: #2d3a4b;
    margin-bottom: 0px;
}

.sub-bnr {
    min-height: 50px;
}

.product-details2-area .product-details-tab-area ul > li {
    margin: -1px 0px;;
    display: inline-block;
    padding: 10px 0;
    background: #fccc8d;
}


.product-details2-area .product-details-tab-area ul > li.active {
    background: #d79947;
}

.product-details2-area .product-details-tab-area ul > li a{
    padding:10px;
}

.pricing article li i {
    margin-left: 0px;
    margin-right: 10px;
    color: rgba(0,0,0,0.3);
    line-height: 30px;
    float: left;
}

.pricing article li {
    list-style: none;
    line-height: 30px;
    color: #343538;
    text-align: left;
    padding: 0 10px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-size: 12px;
}

.pricing article {
    background: #fff;
    text-align: left;
    border: 1px solid #eeeeee;
    padding-bottom: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 4px;
  

}